.intro__list {
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}