.lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
    margin: 0;
    padding: 48px 0 16px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .lead__title {
        max-width: 720px;
        padding: 48px 0 32px;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__title {
        padding: 56px 0 32px;
    }
}
